@using System.Security.Claims
@using GRPCService.LogicInterfaces
@inject IBrugerLogic brugerLogic


<Bar Mode="BarMode.VerticalInline"
     CollapseMode="BarCollapseMode.Small"
     Breakpoint="Breakpoint.Desktop"
     NavigationBreakpoint="Breakpoint.Tablet"
     ThemeContrast="ThemeContrast.Dark">
    <BarBrand Style="@logoTopBrand">
        <a href="/" style="@logoTop"><img class="logo" src="Sydnet_Logo.png"/></a>
    </BarBrand>
    <AuthorizeView>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="Aktier">
                    <BarIcon IconName="IconName.Dashboard" />
                    Aktier
                </BarLink>
            </BarItem>
            <BarItem Disabled>
                <BarLink disabled="true">
                    <BarIcon IconName="IconName.Seedling" />
                    Rangliste
                </BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle Clicked="@john">
                        <BarIcon IconName="IconName.User"/>
                        Min Profil
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem><BarIcon IconName="IconName.Wallet"/>@saldo DKK</BarDropdownItem>
                        <BarLink To="Portfolio"><BarDropdownItem><BarIcon IconName="IconName.Briefcase"/>Portefølje</BarDropdownItem></BarLink>
                        <BarLink To="Transactions"><BarDropdownItem><BarIcon IconName="IconName.Book"/>Transaktioner</BarDropdownItem></BarLink>
                        <BarLink To="Settings"><BarDropdownItem><BarIcon IconName="IconName.Wrench"/>Indstillinger</BarDropdownItem></BarLink>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
    </BarMenu>
    </AuthorizeView>
</Bar>

@code {
    string logoTop = $"height: 100px;";
    string logoTopBrand = $"height: 100px;";

    private TopBar topBar;
    private double saldo = 0;

    private void john()
    {
        saldo = topBar.getSaldo();
    }


}
    
    