@page "/"



<PageTitle>Forside</PageTitle>
<Div>
    <Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
        <h1>
            <a href="/">
                <img class="logo" alt="Et Sejt Logo" src="Sydnet_LogoIndex.png"/>
            </a>
        </h1>

       <h2 style="text-align: center"> Danmarks største investeringsplatform.</h2>
        <br>
        
    </Div>
</Div>


