@page "/"

<PageTitle>Forside</PageTitle>
<Div>
    <Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
        <h1>Sydnet</h1>
        
        Danmarks største investeringsplatform.
        <br>
        <Button Color="Color.Primary">Sign up</Button>
        <Button Color="Color.Secondary">Login</Button>
    </Div>
</Div>