@page "/Settings"

<h3>Indstillinger</h3>
<Row>
    <Column ColumnSize="ColumnSize.Is4">
        <Card Background="Background.Light">
            <CardHeader TextWeight="TextWeight.Bold">Nulstil fremskridt</CardHeader>
            <CardTitle Size="3" Padding="Padding.Is4.OnX.Is4.OnY"><Button Color="Color.Danger" >Nulstil fremskridt</Button></CardTitle>
            </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4">
            <Card Background="Background.Light">
                <CardHeader TextWeight="TextWeight.Bold">Slet Konto</CardHeader>
                <CardTitle Size="3" Padding="Padding.Is4.OnX.Is4.OnY"><Button Color="Color.Danger" >Slet Konto</Button></CardTitle>
            </Card>
        </Column>
</Row>



@code {
    
}